.cards{
  margin:50px;
  width:200px;
  height: 250px;
  overflow: auto;
  border: 1px solid black;
  text-align:center;
  background-color: rgb(74, 81, 83);
  float: left;
  box-shadow: yellow 5px 5px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
